table {
    border: 2px solid black;
}

td:hover {
    background-color: yellow;
    color: red;
}

tr, th {
    background-color: blue;
    color: white;
}

tr, td {
    background-color: darkgreen;
    color: yellow;
}	